<div class="col-10 offset-1 about">
  <h1>About Splurty</h1>

  <p>
    Splurty was built by <a target="_blank" href="http://github.com/Lcondra141">Landon Condra</a>. A web developer who is showing people code can be fun! I love coding, and I love "The Office" so I combined my passion for the two, and created this page! 
  </p>
  <br />
  <p>
    With this site you are able to add some of your favorite quotes from the Netflix series "The Office". It will then display a random quote from the show another user has added. You can refresh until you see your quote, or just come through and refresh for a laugh! I hope you enjoy this Splurty as much as I have enjoyed making it! 
  </p>
  <p>
    If you want to learn how to code - start <a target="_blank" href="https://online.bootcampspot.com"> here</a>.
    <br />
    <br />
    <br />
  </p>

  <div class="row">
    <div class="col-12 col-sm-4">
      <%= image_tag 'lac2.jpg', class: 'img-fluid' %>
    </div>

    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center">Landon Condra</h2>
      <br />
      <p>
        Landon is a full stack Web Developer. Before becoming a web developer he was a student at East Tennessee State University. At ETSU he studied computer science with a focus in software development. Later he went on to work at Sprint in Lebannon, Tennessee. He is currently working on an online reputation managemnet/medical scribe startup where he is the chief of IT.
      </p>
    </div>
  </div>
  <br class="clear" />

  <br class="clear" />
  <br />
  <br />
  <br />
  <br /> 